---
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">


        <div class="text-info">Submission Instructions:</div>

        <p>Submitted papers must be neither previously published nor under review by another workshop, conference or journal.</p>



        <p>All papers need to be submitted electronically in PDF format through conference management site hosted with EasyChair. Papers must be formatted for 8.5x11-inch paper. The length of the paper must be no more than 6 pages (or 8 pages with over-length charge) in the IEEE double-column format (10-pt font), including references and everything. The reviews will be single-blind. Each paper will be assigned to at least 3 reviewers from the related fields to access the work. At least one of the authors of every accepted paper must register and present the paper at the workshop. </p>

        <p> Papers should use the <strong class="text-danger">standard IEEE Template</strong>, available at
            <a href="https://www.ieee.org/conferences/publishing/templates.html">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> IEEE Manuscript Templates for Conference Procee
            </a>.
        </p>


        <p>To submit your paper, please follow below link to the submission site:</p>

        <p class="text-center">
            <!-- <a href="https://easychair.org/conferences/?conf=hotweb2017"> -->
            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            <strong> D-MMEP 2021 EasyChair Link </strong>
            </a>
        </p>

        <p>Note that at least one of the authors of each paper accepted for presentation in D-MMEP'21 must be registered.
            All papers presented at the workshop will be included in the ACM Digital Library.</p>

        <div class="text-info">Camera-Ready Instructions:</div>
        <p>You will receive the information via your email for camera-ready instructions.


        </p>



            {% include contact-us.html %}


    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>